::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #E1E1E1; }
  ::-webkit-scrollbar-thumb {
    background: #B3B3B3; }
  ::-webkit-scrollbar-corner { 
    background: #EDEDED; }
  #tv-guide::-webkit-scrollbar,
  #tv-guide-header::-webkit-scrollbar,
  #tv-guide-container::-webkit-scrollbar {
    display: none; }

.touch {
  display: none; }
