#jikkyo-comm {
  /* The top/bottom border of #jikkyo-comm must be 1px */
  border: 1px solid #ccc;
  flex: 0 0 25%;
  margin-left: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#jikkyo-comm.minimized {
  flex: none;
  width: 0;
}

#jikkyo-comm {
    margin: 0;
}

#jikkyo-comm > canvas {
  height: 1.5em;
  vertical-align: top;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#jikkyo-config {
  padding: 16px 16px 0;
  > div {
    padding: 4px 0;
  } 
  button {
    border: 1px solid;
  }
}
#jikkyo-TM {
  display: flex;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 8px;
  }
}

#jikkyo-setting {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
}

#jikkyo-config > input {
  margin: 0.1em;
}

#jikkyo-config,
#jikkyo-comm.minimized > #jikkyo-config,
#jikkyo-comm.minimized > button {
  display: none;
}

#jikkyo-config.display {
  display: inline-block;
}

#jikkyo-chats {
  font-size: small;
  line-break: anywhere;
  overflow: auto;
  word-break: break-all;
  z-index: 10;
}

#jikkyo-chats > .closed {
  border-top: 1px dotted #aaa;
}

#jikkyo-chats > div > .nico {
  /*background: #fff;*/
  color: #00a;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#jikkyo-chats > div > .refuge {
  /*background: #fff;*/
  color: #900;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

#jikkyo-chats .dark {
  color: #fff;
}

#jikkyo-chats .light {
  color: #000;
}

.video-full-container:fullscreen #jikkyo-comm {
  display: none;
}

.video-full-container:-webkit-full-screen #jikkyo-comm {
  display: none;
}

.dplayer-danmaku-item {
  display: inline-block;
  font-family: "Meiryo", "Kosugi Maru Bold", sans-serif;
  font-weight: bold;
  line-height: 1;
  pointer-events: none;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
  user-select: none;
  white-space: nowrap;
}

.dplayer-danmaku-item--demo {
  position: absolute;
  visibility: hidden;
}

.dplayer-danmaku-dark {
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}

.dplayer-danmaku-right {
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.dplayer-danmaku-right.dplayer-danmaku-move {
  animation-name: danmaku;
  animation-timing-function: linear;
  will-change: transform;
}

.dplayer-danmaku-top, .dplayer-danmaku-bottom {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.dplayer-danmaku-top.dplayer-danmaku-move, .dplayer-danmaku-bottom.dplayer-danmaku-move {
  animation-name: danmaku-center;
  animation-timing-function: linear;
  will-change: visibility;
}

@keyframes danmaku {
  from {
    transform: translateX(100%);
  }
}

@keyframes danmaku-center {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}

@font-face {
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  src: url("../Kosugi-Regular.woff2") format("woff2"),
    url("Kosugi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Kosugi Maru";
  font-style: normal;
  font-weight: 400;
  src: url("../KosugiMaru-Regular.woff2") format("woff2"),
    url("KosugiMaru-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Kosugi Maru Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../KosugiMaru-Bold.woff2") format("woff2"),
    url("KosugiMaru-Bold.woff2") format("woff2");
}